In [1]:
%run init_notebook.py

In [2]:
import pandas as pd
import os

In [59]:
from settings import DATA_DIR, OUTPUT_DIR

In [8]:
df = pd.read_excel(os.path.join(DATA_DIR, "ibwe_djh.xlsx"))
df.columns = ["Link"]

In [21]:
df["Name"] = df["Link"].apply(lambda x: x[46:].split("/")[0][:-4].split("-"))

In [33]:
x = "test"

In [35]:
x.capitalize()

'Test'

In [38]:
df["Name"]

0                    [bad, homburg]
1                   [bad, hersfeld]
2     [bad, kissingen, heiligenhof]
3           [berlin, international]
4                      [biedenkopf]
                  ...
63                      [wiesbaden]
64                      [willingen]
65                     [winterberg]
66                         [wismar]
67                               []
Name: Name, Length: 68, dtype: object

In [54]:
def capatalize_names(df,
                     col):
    
    empty_list = []
    
    for item in df[col]:
        y = ""
        for x in item:
            y = y + " " + x.capitalize()
        
        empty_list.append(y[1:])
    return empty_list

In [56]:
df["Name"] = capatalize_names(df, 
                 "Name")

In [61]:
df[["Name", "Link"]].to_excel(os.path.join(OUTPUT_DIR, "ibwe_djh.xlsx"))