In [1]:
%run init_notebook.py

In [2]:
import pandas as pd
import os

from IPython.display import clear_output

In [3]:
from settings import DATA_DIR

In [4]:
df = pd.read_excel(os.path.join(DATA_DIR, "GRE_voc.xlsx"))

In [22]:
def voc_interact(df: pd.DataFrame):
    
    for i in df.index:
        print(""" """)
        print(df.loc[i]["Vocabulary"])
        x = input("y/n/i/e/d")
        # print("test")

        if x == "d":
            print("test2")
            clear_output(wait=True)
            print(df.loc[i]["Vocabulary"])
            x = input("y/n/i/e/d")

        if x == "e":
            # clear_output(wait=True)
            # sys.exit()
            x = "e"
            break

        elif x == "i":
            print(df.loc[i, "Sentence"])
            x = input("y/n/i/e/d")

        if x == "y":
            print(df.loc[i, "Tranlsation"])

            if df.loc[i, "count"] > 0:
                df.loc[i, "count"] = df.loc[i, "count"] - 1
            else:
                pass

        if x == "n":
            print(df.loc[i, "Tranlsation"])
            df.loc[i, "count"] = df.loc[i, "count"] + 1
            pass
        
    return df, x

In [23]:
def voc_trainer(df_org: pd.DataFrame,
                section_length: int = 40,
               shuffle=True):
    if shuffle == True:
        df_sub = df_org.sample(frac=1).copy()
    else:
        df_sub = df_org.copy()
        
    for i in range(0, round(len(df_sub) / section_length)):
        print(f"SET {i}")
        df_sub = df_sub.iloc[(i * section_length) : (i * section_length + section_length)].copy()
        
        df_trained, mod1 = voc_interact(df=df_sub)
        
        df_org.loc[df_trained.index] = df_trained
        
        if mod1 == "e":
            return df_org
        
        df_repeat = df_trained.copy()
        # print(df_repeat)
        
        if sum(df_repeat["count"]) > 0:
            x = input("Repeat vocabularies? y/n")
            if x == "y":
                while sum(df_repeat["count"]) > 0:
                    df_repeat, mod2 = voc_interact(df_repeat[df_repeat["count"] > 0].copy())
                    if mod2 == "e":
                        break
                pass
            else:
                pass
            
    return df_org

In [ ]:
_ = voc_trainer(df_org=df, section_length=20, shuffle=True)

SET 0

tenacious

y/n/i/e/d n

firm hold of something, not readily letting go of a position

harangue

y/n/i/e/d y

long pompouse speech, tirade

didactive

y/n/i/e/d y

instructive

subersive

y/n/i/e/d y

in opposition to an established sistem

bleak

y/n/i/e/d i

He paints a bleak picture of the company

y/n/i/e/d y

not hopeful

gauche

y/n/i/e/d i

t√∂lpelhaft, unbeholfen

In [21]:
_

,N,Set,Vocabulary,Tranlsation,Sentence,Unknown,Unknown 2,Unknwon 3,Unnamed: 8,count
0,0.254791,C,vex,make someone feel annoyed,NaN,x,NaN,NaN,NaN,1
1,0.773494,B,fortuitous,"occuring by happy chance, having no cause",Mising my train turned out to be very fortuito...,NaN,NaN,NaN,NaN,0
2,0.417584,A,demur,"object, show reluctance",The donkey demurred his orders.,x,NaN,NaN,NaN,1
3,0.054460,A,qualify,to limit,He qualified his appraisal in only refering to...,NaN,NaN,NaN,NaN,0
4,0.683670,F,abstruse,difficult to understand,Academic textbooks are often abstrusely written.,x,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...
267,NaN,NaN,schism,NaN,NaN,NaN,NaN,NaN,NaN,0
268,NaN,NaN,satorial,NaN,NaN,NaN,NaN,NaN,NaN,0
269,NaN,NaN,deflect,NaN,NaN,NaN,NaN,NaN,NaN,0
270,NaN,NaN,flout,NaN,NaN,NaN,NaN,NaN,NaN,0
271,NaN,NaN,brandish,NaN,NaN,NaN,NaN,NaN,NaN,0

In [42]:
df.loc[sub.index] = sub

In [43]:
df.to_excel(os.path.join(DATA_DIR, "GRE_voc.xlsx"), index=False)